<div class="concert-parent">
  <div class="concert">
      <%= image_tag 'rap_concert.jpg' %>
  </div>

  <div id="landing-text" class="text-center"><br><br>
      <h1>Welcome to the world of Virtue</h1>
  </div>
</div>  