<div id="music-video-page">
  <div id="list">
    <h1>Hip Hop</h2>
    <h2><%= link_to 'J Givens - 10 2 get in', music_videos_ten_to_get_in_path %></h2>
    <br><br><h1>Contemporary Christian</h1>
    <h2><%= link_to 'Tim Timmons - Everywhere I Go', music_videos_everywhere_i_go_path %></h2>
    <h2><%= link_to 'Hillsong United - Relentless', music_videos_relentless_path %></h2>
  </div>
</div>
