<div id="music-video-page">
  <div class="row">
    <div class="col-md-4 text-center">
      <h1>Hip Hop</h1>
      <p><%= link_to 'J Givens - 10 2 get in', music_videos_ten_to_get_in_path %></p>
    </div>
    <div class="col-md-4 text-center">
      <h1>Contemporary</h1>
      <p><%= link_to 'Tim Timmons - Everywhere I Go', music_videos_everywhere_i_go_path %></p>
    </div>
    <div class="col-md-4 text-center">
      <h1>Recorded Live</h1>
      <p><%= link_to 'Hillsong United - Relentless', music_videos_relentless_path %></p>
    </div>
  </div>
</div>

