<div class="responsive-container">
  <iframe width="1920" height="1080" id="video" src="//www.youtube.com/embed/_VprHzum474?autoplay=1&showinfo=0&controls=0&modestbranding=1&VQ=HD1080" frameborder="0" allowfullscreen></iframe>  
</div>
