/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';

html, body {
  height: 100%;
  width: 100%;
  padding: 15px;
  background: grey;
}

.nav {
  font-family: 'orbitron', sans-serif;
  margin-bottom: 1px;
}

.navbar-left {
  white-space: nowrap;
  display: inline-block;
}

.alert {
  background-color: green;
  z-index: 1;
}
#main {
  height: 100%;
  overflow: auto;
  background: black;
  color: white;
}


img {
      width: 100%;
    }


iframe {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  }


.log-in-page {
  background: black;
  height: 100%;
  color: white;
}


.concert-thumbnail {
  height: 250px;
  width: 250px;
  padding: 10px;
}

.concert-info {
  text-align: center;
}

@media screen and (max-width: 768px) {

}